<h1 class="text-center" style="text-decoration: underline;">Meet Robert</h1>
<h3 class="text-center">Click the Picture to watch his video about how to change your life</h1>
<div class="home">
<div class="container">
<div class="slider-outer">
  <%= image_tag 'arrow-left.png', class: 'prev', alt: 'Prev' %>
  <div class="slider-inner">
	<%= image_tag 'rm2.jpg', class: 'active' %>
	<%= image_tag 'rm3.jpg' %>
	<%= image_tag 'rm4.jpg' %>
	<%= image_tag 'rm5.jpg' %>
	<%= image_tag 'rm6.jpg' %>
  </div>
  <%= image_tag 'arrow-right.png', class: 'next', alt: 'Next' %>
</div>
</div>
<h3 class="card-title text-center">CRS Certified Instructor Robert Morris talks about a few nuggets you will get from attending the CRS 206
<br><br> - Technologies to Advance your Business course he teaches.</h3>
</div>