<section class="home-section-a text-center">
	<div class="quote">

			<div> 
				<h2 style="font-weight: bold;"><u>Today's Quote</u></h2>
			</div>
		
			<div>
				<h3>
					<em>
						<%= @quote_of_the_day.quote if @quote_of_the_day %>
					</em>
				</h3>

				<p>
						<em> - <%= @quote_of_the_day.author if @quote_of_the_day.author %> </em>
				</p>
				
				<% if @quote_of_the_day.narration %>
						<h4>
							<%= simple_format(@quote_of_the_day.narration.capitalize) if @quote_of_the_day.narration %>
						</h4>
					<% end %>
					
			</div>
				
			<div>
				<% if @quote_of_the_day.message %>
					<h4>
						<%= simple_format(@quote_of_the_day.message.capitalize) if @quote_of_the_day.message %>
					</h4>
				<% end %>
				
				<p>
					<%= @quote_of_the_day.posted_by.split(' ').each { |word| word.capitalize! }.join(' ') %>
				</p>
				
				<small>
					<%= "Posted on #{@quote_of_the_day.updated_at.strftime('%B %d, %Y')}" if @quote_of_the_day %>
				</small>
				
			</div>
			<% if user_signed_in? && current_user.role %>
				<%= link_to  "Admin - Edit Quote", edit_quote_of_the_day_path(@quote_of_the_day), class: 'btn btn-block btn-warning', style: 'font-size: 24px;' %>
			<% end %>	
	</div>


		<!-- recommended readings -->
		<h1>Recommended Readings</h1>
		<article class="reading-container text-center">
			
			<div class="reading-box box-1">
				<div class="reading-title">
					<h1>
						<%= simple_format(@books.book_name).html_safe %>
					</h1>
				</div>
				<div>
						<%= image_tag  @books.book_one %>				
				</div>
			</div>

			<div class="reading-box box-2">
					<div class="reading-title">
						<h1>
							<%= simple_format(@books.book_two_name) %>
						</h1>
					</div>
						<%= image_tag  @books.book_two %>
				</div>

					<div class="reading-box box-4">
							<div class="reading-title">
								<h1>
									<%= simple_format(@books.book_four_name) %>
								</h1>
							</div>
								<%= image_tag  @books.book_four %>
						</div>

						<div class="reading-box box-3">
								<div class="reading-title">
									<h1>
										<%= simple_format(@books.book_three_name) %>
									</h1>
								</div>
									<%= image_tag  @books.book_three %>
							</div>						

						<div class="reading-box box-5">
								<div class="reading-title">
									<h1>
										<%= simple_format(@books.book_five_name) %>
									</h1>
								</div>
									<%= image_tag  @books.book_five %>
							</div>
		</article>
		<% if user_signed_in? && current_user.role %>
		<%= link_to 'Edit Books', edit_book_path(@books), class: 'btn btn-warning btn-block', style: 'font-size: 24px;' %>
	<% end %>
</section>