<div class="row">
<div class="col-md-6 col-md-offset-3">
<%= form_with(model: speaking, local: true) do |form| %>
  <% if speaking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(speaking.errors.count, "error") %> prohibited this speaking from being saved:</h2>

      <ul>
      <% speaking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :speaking_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :speaking_description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_select :date, id: :speaking_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :time %>
    <%= form.text_field :time, id: :speaking_time, class: 'form-control' %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="actions">
    <%= form.submit "Submit", class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
</div>
</div>