<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @speaking.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @speaking.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @speaking.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @speaking.time %>
</p>

<%= link_to 'Edit', edit_speaking_path(@speaking) %> |
<%= link_to 'Back', speakings_path %>
