<div class="row">
<div class="col-md-6 col-md-offset-3">
<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label 'Company/Association *' %>
    <%= form.text_field :company, class: 'form-control', placeholder: 'Company/Association *', autofocus: true %>
  </div>

  <div class="form-group">
    <%= form.label 'Name *' %>
    <%= form.text_field :name, class: 'form-control', placeholder: 'Name *' %>
  </div>

  <div class="form-group">
    <%= form.label 'What is your role planning the event?' %>
    <%= form.text_area :role, class: 'form-control', placeholder: 'What is your role planning the event?' %>
  </div>

  <div class="form-group">
    <%= form.label 'Address *' %>
    <%= form.text_area :address, class: 'form-control', placeholder: 'Address *' %>
  </div>

  <div class="form-group">
    <%= form.label 'Email *' %>
    <%= form.text_field :email, class: 'form-control', placeholder: 'Email *' %>
  </div>

  <div class="form-group">
    <%= form.label 'Phone Number' %>
    <%= form.text_field :number, class: 'form-control', placeholder: 'Phone Number *' %>
  </div>

  <div class="form-group">
    <%= form.label 'Preferred Speaking Date *'%><br>
    <%= form.text_field :booking_date, class: 'form-control', id: 'date' %>
  </div>

  <div class="form-group">
    <%= form.label 'Groups to be spoken to *' %>
    <%= form.text_field :group, class: 'form-control', placeholder: 'Groups to be Spoken to *'  %>
  </div>

  <div class="form-group">
  <%= form.label 'What is your budget for speakers for this event?' %>
  <%= form.text_field :budget, class: 'form-control', placeholder: 'What is Your Budget for Speakers at this Event?'%>
  </div>

  <div class="form-group">
  <%= form.label 'Purpose of meeting? *' %>
  <%= form.text_area :purpose, class: 'form-control', placeholder: 'Purpose of meeting *'%>
  </div>

  <div class="form-group">
  <%= form.label 'Event Time *' %>
  <%= form.text_field :time, class: 'form-control', placeholder: 'Event Time *'%>
  </div>

  <div class="form-group">
  <%= form.label 'Appoximate number of attendees *' %>
  <%= form.text_field :attendees, class: 'form-control', placeholder: 'Approximate Number of Attendees *'%>
  </div>

  <div class="form-group">
  <%= form.label 'Any comments or additional information' %>
  <%= form.text_area :additional_info, class: 'form-control', placeholder: 'Any Comments or Additional Information?'%>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id if current_user %>
  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
</div>
</div>