<!DOCTYPE html>
<html>
  <head>
    <title>MrMorris</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track':
        'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900" rel="stylesheet">
  </head>
  <body>
      <div id="main-content">
      <nav style="border: none;">
        <span class="open-slide">
            <a href="#" onclick="openSlideMenu()" data-turbolinks="false" id="slideOpen">
              <svg width="30" height="30">
                <path d="M0, 5  30,  5"   stroke="#D1C395" stroke-width="5" />
                <path d="M0, 14 30, 14" stroke="#D1C395" stroke-width="5" />
                <path d="M0, 23 30, 23" stroke="#D1C395" stroke-width="5" />
              </svg>
            </a>
        </span>
          <li><a href="<%= home_path %>">Home</a></li>
          <li><a href="<%= about_path %>">About Robert</a></li>
          <li><a class="text-center" id='drop-down' href="#">Seminar & Course Offerings &#709;
          </a>
            <ul id="dropdown-menu">
              <li><a href="/continuing-ed">Advanced Training CE (Tennessee)</a></li>
              <li><a href="/wcr">Women's Council (PMN)</a></li>
              <li><a href="/keynote">Keynote Speakings</a></li>
              <li><a href='/rebac'>REBAC</a></li>
              <li><a href="/rebi">rebi</a></li>
            </ul>
          </li>
          <li><a href="<%= speakings_path %>">Events</a></li>
          <li><a href="<%= new_booking_path %>">Book Robert</a></li>
          <li><a href="<%= videos_path %>">Robert in Action</a></li>
          <li><a href="#">What People Are Saying</a></li>
          <li><a href="/load_images">Romo's Pics</a></li>
          <li><a href="<%= contact_path %>">Contact us</a></li>
        <% if user_signed_in? %>
          <li><a href="<%= bookings_path %>"> Admin - View Booking Requests</a></li>
          <li><a href="<%= quote_of_the_days_path %>"> Admin - View All Quotes</a></li>
          <li><a href='<%= destroy_user_session_path %>' data-method='delete' rel='nofollow'> Admin - Sign Out</a><li>
        <% else %>
          <li><a href="<%= new_user_session_path %>">Sign In</a></li>
      <% end %> 
      </nav>
      <div id="side-menu" class="side-nav">
        <a href="#" class="btn-close" onclick="closeSlideMenu()" data-turbolinks="false">&times;</a>
        <a href="<%= home_path %>">Home</a>
        <a href="<%= about_path %>">About Robert</a>
        <a href="<%= new_booking_path %>">Book Robert</a>
        <li><a id='drop-down-2' href='#' >Seminars &#709;</a>
         <ul id="dropdown-menu-2">
            <li><a href="/ce">Advanced Training CE (Tennessee)</a></li>
            <li><a href="/wcr">Women's Council (PMN)</a></li>
            <li><a href="/keynote">Keynote Speakings</a></li>
            <li><a href='/rebac'>REBAC</a></li>
            <li><a href="/rebi">rebi</a></li>
          </ul>
        <li>
        <a href="<%= videos_path %>">Robert In Action</a>
        <a href="#">What People Are Saying</a>
        <a href="<%= contact_path %>">Contact Us</a>
        <% if user_signed_in? %>
          <a href="<%= bookings_path %>">View Booking Requests</a>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, data: {confirm: 'Are you sure?'} %>
        <% else %>
          <a href="<%= new_user_session_path %>">Sign In</a>
        <% end %>
      </div>
  <%= yield %>
    </div>
    <script>
      document.getElementById("drop-down").addEventListener('click', function() {
	      document.getElementById('dropdown-menu').classList.toggle('events-active');
      });
    </script>
    
    <script>
      document.getElementById('drop-down-2').addEventListener('click', function() {
        document.getElementById('dropdown-menu-2').classList.toggle('events-active-2');
      });
    </script>
  </body>
</html>
